@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="pau">
<style>
    .pau{
        background-color:aliceblue;
    }
.king{
    font-style:italic;
    color:darkblue;
    font-size:21px;
}
</style>
<div class="text-center">
    <h1 class="display-4">Pantawid Pamilya Pilipino Program</h1>
    <h1 class="king">Information System</h1>
</div>
</body>
