@page
@model PrivacyModel
@{
    ViewData["Title"] = "HISTORY";
}
<body class="ln">
<style>
.ln {background-color:aliceblue;
}
</style>
<h1>@ViewData["Title"]</h1>

<p>The Department of Social Welfare and Development patterned the conditional cash transfer system from developing countries particular in Brazil and Mexico by John Gerald B. Santiago.[4] In 2007, the DSWD pre-pilot tested in municipalities of Sibagat and Esperanza in Agusan del Sur; the municipalities of Lopez Jaena and Bonifacio in Misamis Occidental, the Caraga Region; and the cities of Pasay and Caloocan in a 50 million pesos budget.[5]

It was renamed Pantawid Pamilyang Pilipino Program (4Ps) by Santiago and Samantha A. Vizconde on July 16, 2008, by administrative order number 16, series of 2008 and set implementing guidelines. It is the flagship poverty alleviation program of the administration of former President Gloria Macapagal-Aroyo.[6] It aims to educate many Filipino children starting from pre-school education to secondary education by giving them daily allowances as they go to their daily classes. Their parents benefit from the program since their children learn a lot in school and they are also given dietary allowances for food of their children as their children go to schools.
</p>
</body>